*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
      
}
a{
    text-decoration: none;
    color: black;
}
header{
    background-image: url(../img/background-1.png);
    background-repeat: no-repeat;
    height: 800px;
    background-size: 100%;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100px;
    background:linear-gradient(rgb(55, 46, 41), rgba(55, 46, 41, 0));
}
.navbar__logo{
    margin-left: 5.5%;
}
.navbar__logo-text{
    margin-left: 10px;
}
.navbar__vl{
    border-left: 1px solid rgb(251, 36, 36);
    height: 55px;
    margin-left: 2%;
}
.navbar__links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 2%;
    width: 700px;
}
.navbar__links a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.navbar__links a:hover{
    color: rgb(254, 214, 49);
    border-bottom: 3px solid rgb(254, 214, 49);
    box-sizing: border-box;
    transition: .3s ease-in-out all;
}
.navbar__vl-2{
    border-left: 1px solid rgb(251, 36, 36);
    height: 55px;
    margin-left: 1%;
}
/* language */
.form{
	margin-left: 2%;
} 
select{
	width: 70px;
    border: none;
    color: white;
    background-color:  rgba(55, 46, 41, 0.5);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}
.icon-ru{
	background: url('../img/flag-for-russia.png') no-repeat;
	background-size: 20px;
	padding-left: 20px; 
	background-position: 0 1px;
}
.icon-en{
	background: url('../img/flag-for-eng.png') no-repeat;
	background-size: 20px;
	padding-left: 20px;
	background-position: 0 1px;
}
/* language  end*/
.navbar__personal-area{
    display: flex;
    align-items: center;
    width: 214px;
    height: 51px;
    background-color: rgb(249, 3, 3);
    color: white;
    border: none;
    border-radius: 50px;
    margin-left: 1%;
}
.navbar__personal-area-text{
    font-weight: 100;
    margin-left: 14px;
}
.navbar__user-outlined{
    margin-bottom: 8px;
}
.top__header-title{
    width: 700px;
    margin: 4% 0 80px 7%;
}
.top__header-text{
    margin-left: 7%;
    width: 480px;
}
.main{
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.main__tracking{
    height: 750px;
    background:linear-gradient(rgba(255,255,255,1), rgba(255,225,94,0.8),rgba(255,255,255,0.7));
}
.main__tracking-input{
    height: 288px;
    width: 1009px;
    margin: 10% 0 0 16%;
    border-radius: 20px;
    background-color: rgba(255,241,175,1);
    box-shadow: 1px 2px 20px #FFE15E;
}
.main__tracking-car{
    height: 267px;
    position: absolute;
    margin: -50px 0 0 9%;
}
.main__tracking-input-title{
    float: right;
    display: flex;
    text-align: right;
    width: 533px;
    font-size: 40px;
    line-height: 48px;
    margin: 3% 6% 0 0;
}
.title{
    font-weight: bold;
}
.main__tracking-input-text{
    float: right;
    display: flex;
    text-align: right;
    width: 533px;
    font-size: 20px;
    line-height: 24px;
    margin: 1% 6% 2% 0;
}
.main__tracking-input-track{
    margin-left: 24%;
}
.input-treck1{
    width: 550px;
    height: 50px;
    border: none;
    background: #FFBEBE;
    border-radius: 20px;
    padding-left: 2%;
}
.main__tracking-input-track-search{
    width: 140px;
    height: 50px;
    background: #FF0606;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.main__tracking-staf{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-top: 5%;
}
.main__tracking-staf-small{
    text-align: center;
    width: 300px;
    font-size: 16px;
    line-height: 19px;
}
.main__tracking-staf-small-title{
    font-weight: 1000;
}
.main__tracking-staf-small-img{
    width: 100%;
    margin-bottom: 5%;
}
.main__tracking-staf-small p{
    margin-top: 6%;
}
.main__cooperation-title{
    font-size: 50px;
    font-weight: 600;
    line-height: 73px;
    text-align: left;
    margin: 0 0 3% 12%;
}
.main__cooperation-block{
    display: flex;
    flex-wrap: wrap;
    margin-left: 12%;
}
.main__cooperation-buttons{
    width: 500px;
    margin-right: 7%;
}
.main__cooperation-buttons button{
    width: 459px;
    height: 60px;
    background-color: white;
    border: 1px solid #372E29;
    box-sizing: border-box;
    border-radius: 14px;
    margin: 0 0 3% 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    transition: .3s ease-in-out all;
}
.main__cooperation-buttons button:hover{
    background: #FED631;
}
.main__cooperation-buttons button.clicked{
    background: #FED631;
}
.main__cooperation-buttons button.noneclicked{
    background: white;
}

.main__cooperation-cards{
    width: 630px;
    height: 287px;
    background: #FFFBEC;
    border: 1px solid #372E29;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0 0 0 3%;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    position: relative;
}
.main__cooperation-cards-1,
.main__cooperation-cards-2,
.main__cooperation-cards-3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
}
.main__cooperation-cards-1 span{
    font-weight: 900;

}
.main__cooperation-cards ul{
    list-style-image: url(../img/check.png);
}
.main__cooperation-cards-1-courier{
    margin-top: -70px;
    height: 280px;
}
.main__cooperation-cards-text2{
    width: 330px;
}
.main__cooperation-cards-1-money{
    align-self: center;
}
.main__cooperation-cards-4{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 18%;
}
.card4{
    width: 349px;
    text-align: center;
}
.section{
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    position: absolute;
}
.section.section_loaded {
    animation: loadElement .4s both;
    z-index: 1;
}
.section.section_hidden {
    animation: hideElement .4s ease-in-out both;
    z-index: -1;
}
.main__cooperation-btn{
    width: 330px;
    height: 78px;
    background: #FF4243;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding-top: 22px;
    margin-left: 40%;
}
.main__cooperation a{
    text-decoration: none;
}
.main__tracking-rus{
    width: 684px;
    height: 146px;
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;
    color: #000000;
    margin-left: 12%;
}
.main__carpet{
    background-image: url(../img/carpet.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 52px;
}
.main__animation{
    height: 170px;
    position: relative;
}
#anim_block{
    position: absolute;
    top: 50px;
    left: 0;
}
.slideRight{
    animation-name: slideRight;
    -webkit-animation-name: slideRight; 
 
    animation-duration: 15s; 
    -webkit-animation-duration: 15s;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 

    animation-iteration-count:infinite;
}
@keyframes slideRight {
    0% {
        transform: translateX(-150%);
    } 
    100% {
        transform: translateX(800%);
    }   
}
.line1{
    width: 100%;
}
.point{
    width: 43px;
}
.main__animation-cities{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: -114px;
}
.city-txt{
    width: 50px;
    position: absolute;
    margin-top: -50px;
}
.main__order{
    margin: 9% 0 10% 11%;

}
.main__order-btn{
    display: flex;
    flex-wrap: nowrap;
}
.main__order-btn button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: rgba(254,214,49,1);
    border: none;
    width: 294px;
    height: 100px;
    transition: .3s ease-in-out all;
}
.main__order-cards{
    background-color: #FEF9E1;
    position: relative;
    height: 480px;
    max-width: 1177px;
    padding-top: 4%;
    
}
.main__order-cards-1,
.main__order-cards-2,
.main__order-cards-3,
.main__order-cards-4{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;

}
.main__order-cards span{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}
.main__order-cards p{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
.main__order-cards ul{
    list-style-image: url(../img/order-check.png);
    line-height: 44px;
}
.main__order-cards-1-reg-auth{
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.main__order-cards-1-reg-auth a{
    height: 60px;
    align-items: center;
}
.main__order-cards-1-reg,
.main__order-cards-2-order,
.main__order-cards-3-info,
.main__order-cards-4-courier{
    width: 221px;
    height: 50px;
    background: #FED631;
    border-radius: 8px;
    border: none;
    text-align: center;
    padding-top: 12px;
}
.main__order-cards-1-auth{
    width: 90px;
    height: 50px;
    background: #FED631;
    border-radius: 8px;
    text-align: center;
    padding-top: 15px;
    
}
.main__order-cards-1-reg:hover,
.main__order-cards-1-auth:hover,
.main__order-cards-2-order:hover,
.main__order-cards-3-info:hover,
.main__order-cards-4-courier:hover{
    background: #FFF1AF;
    transition: .3s ease-in-out all;
}
.main__order-cards-2{
    flex-wrap: wrap;
}
.main__order-cards-2 span{
    font-size: 22px;
}
.main__order-cards-2 p{
    font-size: 16px;
    line-height: 24px;
    margin-top: 2%;
}
.main__order-cards-2 ul,
.main__order-cards-4 ul{
    line-height: 35px;
}
.order-car{
    width: 396px;
    height: 274px;
}
.main__order-cards-2-order,
.main__order-cards-3-info,
.main__order-cards-4-courier{
    float: right;
}
.order-car2{
    width: 396px;
    height: 330px;
}
.operator-girl{
    width: 330px;
    height: 330px;
}
.section2{
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    position: absolute;
}
.section2.section2_loaded {
    animation: loadElement .4s both;
    z-index: 1;
}
.section2.section2_hidden {
    animation: hideElement .4s ease-in-out both;
    z-index: -1;
}

.main__order-btn button.noneclicked2{
    background: rgba(254,214,49,1);
}
.main__order-btn button.clicked2{
    background: #FFF1AF;
    box-shadow: inset 0px -1px 0px #FA0606;
}
.main__order-btn button:hover{
    background: #FFF1AF;
    box-shadow: inset 0px -1px 0px #FA0606;
}
.main__partners{
    margin-bottom: 10%;
}
.main__partners-title,
.main__reviews-title{
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;
    color: #000000;
    margin: 0 0 5% 12%;
}
.main__partners-img{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 6%;
}
.main__reviews-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 6%;
}
.main__reviews-block img{
    width: 367px;
}
.main__reviews-btn{
    width: 200px;
    height: 50px;
    background: #FDD733;
    border-radius: 8px;
    text-align: center;
    padding-top: 14px;
    margin: 7% 0 10% 45%;
}




/* footer */
footer{
    background-image: url(../img/footer.png);
    background-size: 100%;
    background-repeat: repeat-y;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer__logo,
.footer__about,
.footer__delivery,
.footer__contacts{
    margin-top: 50px;
    
}
.footer__about,
.footer__delivery{
    width: 300px;
}
.footer__about a,
.footer__delivery a,
.footer__contacts a{
    text-decoration: none;
    color: black;
    line-height: 44px;
    font-size: 20px;
}
.footer__about-title,
.footer__delivery-title{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}
.footer__contacts-title,
.footer__contacts-subscribe{
    font-size: 22px;
    font-weight: bold;
}
.footer__contacts-phone,
.footer__subscribe-email{
    width: 180px;
    height: 45px;
    background: #FFFFFF;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    margin: 25px 0 25px 0;
    letter-spacing: 2px;
}
.footer__contacts-btn,
.footer__subscribe-btn{
    width: 205px;
    height: 45px;
    background: #FF1313;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    color: white;
}
.footer__contacts-inst{
    margin-left: 30px;
}
.footer__contacts a{
    margin: 0 10px 0 10px;
    font-size: 25px;
}
.footer__contacts-networks{
    margin-bottom: 15px;
}
/* main end */

@keyframes loadElement {
    from {
    visibility: hidden;
    opacity: 0;
    }
    
    to {
    visibility: visible;
    opacity: 1;
    }
}
    
@keyframes hideElement {
    from {
    visibility: visible;
    opacity: 1;
    }
    
    to {
    visibility: hidden;
    opacity: 0;
    }
}