body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
header{
    background-image: url(../img/background-1.png);
    background-repeat: no-repeat;
    height: 800px;
    background-size: 100%;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100px;
    background:linear-gradient(rgb(55, 46, 41), rgba(55, 46, 41, 0));
}
.navbar__logo{
    margin-left: 5.5%;
}
.navbar__logo-text{
    margin-left: 10px;
}
.navbar__vl{
    border-left: 1px solid rgb(251, 36, 36);
    height: 55px;
    margin-left: 2%;
}
.navbar__links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 2%;
    width: 700px;
}
.navbar__links a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.navbar__links a:hover{
    color: rgb(254, 214, 49);
    border-bottom: 3px solid rgb(254, 214, 49);
    box-sizing: border-box;
}
.navbar__vl-2{
    border-left: 1px solid rgb(251, 36, 36);
    height: 55px;
    margin-left: 1%;
}
.navbar__language{
    margin-left: 3%;
}
.navbar__personal-area{
    display: flex;
    align-items: center;
    width: 214px;
    height: 51px;
    background-color: rgb(249, 3, 3);
    color: white;
    border: none;
    border-radius: 50px;
    margin-left: 3%;
}
.navbar__personal-area-text{
    font-weight: 100;
    margin-left: 14px;
}
.navbar__user-outlined{
    margin-bottom: 8px;
}
.top__header-title{
    width: 700px;
    margin: 4% 0 80px 7%;
}
.top__header-text{
    margin-left: 7%;
    width: 480px;
}
.staf-links{
    margin-top: 230.5px;
    height: 155px;
    background-color:  rgba(55, 46, 41, 0.5);
}
.main{
    height: 1500px;
}
.main__tracking{
    height: 750px;
    background:linear-gradient(rgba(255,255,255,1), rgba(255,225,94,1),rgba(255,255,255,1));
}
.main__tracking-input{
    height: 288px;
    width: 1009px;
    margin: 10% 0 0 16%;
    border-radius: 20px;
    background-color: rgba(255,241,175,1);
    box-shadow: 1px 2px 20px #FFE15E;
}
.main__tracking-car{
    height: 267px;
    position: absolute;
    margin: -50px 0 0 9%;
}
.main__tracking-input-title{
    float: right;
    display: flex;
    text-align: right;
    width: 533px;
    font-size: 40px;
    line-height: 48px;
    margin: 3% 6% 0 0;
}
.title{
    font-weight: bold;
}
.main__tracking-input-text{
    float: right;
    display: flex;
    text-align: right;
    width: 533px;
    font-size: 20px;
    line-height: 24px;
    margin: 1% 6% 2% 0;
}
.main__tracking-input-track{
    margin-left: 24%;
}
.input-treck1{
    width: 550px;
    height: 50px;
    border: none;
    background: #FFBEBE;
    border-radius: 20px;
    padding-left: 2%;
}
.main__tracking-input-track-search{
    width: 140px;
    height: 50px;
    background: #FF0606;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.main__tracking-staf{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-top: 5%;
}
.main__tracking-staf-small{
    text-align: center;
    width: 300px;
    font-size: 16px;
    line-height: 19px;
}
.main__tracking-staf-small-title{
    font-weight: 1000;
}
.main__tracking-staf-small-img{
    width: 100%;
    margin-bottom: 5%;
}
.main__tracking-staf-small p{
    margin-top: 6%;
}