*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    background-image: url(../img/background-2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1000px;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100px;
    background:rgb(55, 46, 41);
}
.navbar__logo{
    margin-left: 5.5%;
}
.navbar__logo-text{
    margin-left: 10px;
}
.navbar__vl{
    border-left: 1px solid rgb(251, 36, 36);
    height: 55px;
    margin-left: 2%;
}
.navbar__links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 2%;
    width: 700px;
}
.navbar__links a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.navbar__links a:hover{
    color: rgb(254, 214, 49);
    border-bottom: 3px solid rgb(254, 214, 49);
    box-sizing: border-box;
}
.navbar__vl-2{
    border-left: 1px solid rgb(251, 36, 36);
    height: 55px;
    margin-left: 1%;
}
.navbar__language{
    margin-left: 3%;
}
.navbar__personal-area{
    display: flex;
    align-items: center;
    width: 214px;
    height: 51px;
    background-color: rgb(249, 3, 3);
    color: white;
    border: none;
    border-radius: 50px;
    margin-left: 3%;
}
.navbar__personal-area-text{
    font-weight: 100;
    margin-left: 14px;
}
.navbar__user-outlined{
    margin-bottom: 8px;
}
/* main */
.main{
    height: 845px;
}
.main h2{
    margin: 80px 0 35px 450px;
    font-size: 40px;
}
.main__text{
    width: 840px;
    margin-left: 350px;
    line-height: 21px;
    font-size: 18px;
}


.container input[type=text], 
.container select {
    width: 360px;
    padding: 12px;
    border: 1px solid black;
    resize: vertical;
}
.row{
    margin-bottom: 30px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: bold;
}

input[type=submit] {
    padding: 12px 20px;
    border: none;
    width: 162px;
    height: 43px;
    background: #FED631;
    margin-left: 225px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    width: 900px;
    margin: 40px 0 0 350px;
    
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
/* footer */
footer{
    background-image: url(../img/footer.png);
    display: flex;
    flex-wrap: wrap;
    height: 420px;
    justify-content: space-around;
}
.footer__logo,
.footer__about,
.footer__delivery,
.footer__contacts{
    margin-top: 50px;
    
}
.footer__about,
.footer__delivery{
    width: 300px;
}
.footer__about a,
.footer__delivery a,
.footer__contacts a{
    text-decoration: none;
    color: black;
    line-height: 44px;
    font-size: 20px;
}
.footer__about-title,
.footer__delivery-title{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}
.footer__contacts-title,
.footer__contacts-subscribe{
    font-size: 22px;
    font-weight: bold;
}
.footer__contacts-phone,
.footer__subscribe-email{
    width: 180px;
    height: 45px;
    background: #FFFFFF;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    margin: 25px 0 25px 0;
    letter-spacing: 3px;
}
.footer__contacts-btn,
.footer__subscribe-btn{
    width: 205px;
    height: 45px;
    background: #FF1313;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    color: white;
}
.footer__contacts-inst{
    margin-left: 30px;
}
.footer__contacts a{
    margin: 0 10px 0 10px;
    font-size: 25px;
}
.footer__contacts-networks{
    margin-bottom: 15px;
}