body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background-image: url(../img/background-1.png);
    background-repeat: no-repeat;
    height: 800px;
    background-size: 100%;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100px;
    background:linear-gradient(rgb(55, 46, 41), rgba(55, 46, 41, 0));
}
.navbar__logo{
    margin-left: 5.5%;
}
.navbar__logo-text{
    margin-left: 10px;
}
.navbar__vl{
    border-left: 1px solid rgb(251, 36, 36);
    height: 55px;
    margin-left: 2%;
}
.navbar__links{
    display: flex;
    justify-content: space-around;
    margin-left: 2%;
    width: 700px;
}
.navbar__links a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.navbar__links a:hover{
    color: rgb(254, 214, 49);
    border-bottom: 3px solid rgb(254, 214, 49);
    box-sizing: border-box;
}
.navbar__vl-2{
    border-left: 1px solid rgb(251, 36, 36);
    height: 55px;
    margin-left: 1%;
}
.navbar__language{
    margin-left: 3%;
}
.navbar__personal-area{
    display: flex;
    align-items: center;
    width: 214px;
    height: 51px;
    background-color: rgb(249, 3, 3);
    color: white;
    border: none;
    border-radius: 50px;
    margin-left: 3%;
}
.navbar__personal-area-text{
    margin-left: 14px;
}
.navbar__user-outlined{
    margin-bottom: 8px;
}
.top__header-title{
    width: 700px;
    margin: 4% 0 80px 7%;
}
.top__header-text{
    margin-left: 7%;
    width: 480px;
}
.staf-links{
    margin-top: 230.5px;
    height: 155px;
    background-color:  rgba(55, 46, 41, 0.5);
}